name: "sesame"

services:
  sesame-orchestrator:
    container_name: sesame-orchestrator
    image: ghcr.io/libertech-fr/sesame-orchestrator:latest
    restart: always
    depends_on:
      - sesame-mongo
      - sesame-redis
    environment:
      - SESAME_REDIS_URI=redis://sesame-redis:6379
      - SESAME_MONGO_URI=mongodb://sesame-mongo:27017/sesame
      - SESAME_JWT_SECRET=${JWT_SECRET}
      - SESAME_FRONT_MDP=${SESAME_FRONT_MDP}
      - SESAME_HTTPS_PATH_KEY=/data/certificates/server.key
      - SESAME_HTTPS_PATH_CERT=/data/certificates/server.crt
      - SESAME_HTTPS_ENABLED=${SESAME_HTTPS_ENABLED:-false}
      - SESAME_APP_API_URL=${HOST_PREFIX}:4000

    volumes:
      # Volumes pour l'orchestrator (API)
      - ./configs/sesame-orchestrator/jsonforms:/data/apps/api/configs/identities/jsonforms
      - ./configs/sesame-orchestrator/validations:/data/apps/api/configs/identities/validations
      - ./configs/sesame-orchestrator/storage:/data/apps/api/storage
      - ./configs/sesame-orchestrator/lifecycle:/data/apps/api/configs/lifecycle
      - ./configs/sesame-orchestrator/templates:/data/apps/api/templates
      # Volumes pour l'app-manager (WEB)
      - ./configs/sesame-app-manager/config:/data/apps/web/config
      - ./configs/sesame-app-manager/statics:/data/apps/web/src/public/config
      # Certificates
      - ./certificates:/data/certificates
    ports:
      - "4000:4000"
      - "4443:4443"
    networks:
      - sesame
      - reverse

  sesame-mongo:
    image: mongo:7.0
    container_name: sesame-mongo
    command: --wiredTigerCacheSizeGB 1.5
    restart: always
    networks:
      - sesame
    volumes:
      - ./db:/data/db

  sesame-redis:
    image: redis
    container_name: sesame-redis
    volumes:
      - sesame-redis:/data
    ports:
      - "127.0.0.1:6379:6379"
    restart: always
    networks:
      - sesame
    command: redis-server --appendonly yes

volumes:
  sesame-redis:

networks:
  sesame:
    external: true
  reverse:
    external: true
